html,
body,
#root {
  background-color: #f1f1f1;

  background-image: url(star.png);
  background-attachment: fixed;
}

body,
input,
button {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: space-around;
  border-bottom: 20px solid #ccc;
  margin-bottom: 20px;
  background-color: #ccc;
}
