html,
body,
#root {
  background-color: #f1f1f1;
  background-image: url(star.png);
  background-attachment: fixed;
}

body,
input,
button {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.menu a:hover {
  text-decoration: underline;
}
